<div class="col-lg-6" [@fadeIn]>

    <h1>{{title}}</h1>

    <div class="alert alert-success" *ngIf="status == 'success'">
        Login success!!!
    </div>

    <div class="alert alert-danger" *ngIf="status == 'error'">
        Authentication error!!!
    </div>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-7">
        <p>
            <label>Email:</label>
            <input type="email" name="email" #email="ngModel" [(ngModel)]="user.username" class="form-control" required />
        </p>
        <span *ngIf="!email.valid && email.touched">
        This field is required
      </span>
        <p>
            <label>Password:</label>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
            <span *ngIf="!password.valid && password.touched">
          This field is required
        </span>
        </p>
        <input type="submit" value="Sign In" class="btn btn-success" />
    </form>

</div>